<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Orders</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .order-details {
  display: none;
}
.order-details td:first-child {
  padding-top: 1em;
}
.order-arrow {
  cursor: pointer;
}
.order-details table td {
  padding-top: 0.5em;
}
  </style>
</head>
<body>
<div class="container">
  <h1>Customer Orders</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Date</th>
      <th>Total Price</th>
      <th>Order Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${customerOrders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.orderDate}"></td>
      <td th:text="${order.totalPrice}"></td>
      <td th:text="${order.orderStatus}"></td>
      <td>
        <a data-toggle="collapse" th:href="'#orderItems-' + ${order.id}">Show Items</a>
        <div th:id="'orderItems-' + ${order.id}" class="order-details collapse">
          <table>
            <thead>
            <tr>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.orderProducts}">
              <td th:text="${item.product.name}"></td>
              <td th:text="${item.product.price}"></td>
              <td th:text="${item.quantity}"></td>
              <td th:text="${item.totalPrice}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.table a').click(function() {
      console.log("Button clicked!");
      $(this).closest('tr').next().find('.order-details').slideToggle();
      return false;
    });
  });
</script>
</body>
</html>